@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: 'barbearia';
    src: url('../fontes/Young\ Heart.ttf') format('truetype');
    font-weight: normal;
}

:root{
    --cor1: #12263A;
    --cor2: #615D6C;
    --cor3: #6F8AB7;
    --cor4: #4A2208;
    --cor5: #F4E7D7;

    --fonte-padrao: arial, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-decorada: 'barbearia',arial;
}

body{
    background-color: white;
}

p{
    text-align: justify;
    text-indent: 20px;
}

strong{
    color: #12263A;
    font-weight: bolder;
}

header{
    background-color: var(--cor5);
    width: 100%;
    padding: 70px 10px 0px 10px;
}

header h1{
    font-family: var(--fonte-decorada);
    font-size: 4em;
    padding: 10px;
    text-align: center;
}

header p{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    max-width: 450px;
    margin: auto;
    text-align: center;
    color: var(--cor1);
}

header nav{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 9px;
}

header nav>a{
    background-color: var(--cor4);
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    font-family: var(--fonte-decorada);
    color: var(--cor5);
    text-shadow: 0px 0px 2px white;
    margin: 0px 25px ;
    border-radius: 8px 8px 0px 0px;
}

header nav>a:hover{
    background-color: #7d4825;
    color: white;
}

main{
    background-color: #8e877ed6;
    width: 100%;
}

main>section.s1{
    width: 100%;
}

main .s1 h2{
    font-size: 2em;
    color: white;
    background-color: #615D6C;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 2px #4A2208;
}

main .s1 p{
    font-size: 1.2em;
    max-width: 440px;
    padding: 10px;
    color: white;
    margin: auto;
    text-shadow: 0px 0px 2px #4A2208;
    text-align: center;
}

main .s1 img{
    display: block;
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

main>section.s2{
    width: 100%;
}

section.s2 h2{
    font-size: 2em;
    color: white;
    background-color: #615D6C;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 2px black;
}

section.s2 p{
    font-size: 1.2em;
    max-width: 440px;
    padding: 10px;
    color: white;
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

section.s2 article.a1 img{
    display: block;
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}


main>section.s3{
    width: 100%;
}

section.s3 .f1>h2{
    font-size: 2em;
    color: white;
    background-color: #615D6C;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 2px black;
}

section.s3 .f1>p{
    font-size: 1.2em;
    max-width: 440px;
    padding: 10px;
    color: white;
    margin: auto;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

section.s3 .fundo{
    display: none;
}

main>section.s4{
    width: 100%;
}

section.s4>h3{
    font-size: 1.8em;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #4A2208;
}

section.s4 img{
    display: block;
    width: 250px;
    margin: auto;
    padding: 10px;
}

footer{
    background-color: #4A2208;
}

footer p,a{
    color: white;
    text-decoration: none;
    text-align: center;
}

